In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_dir = './config/log'

In [3]:
os.listdir(data_dir)

['.gitignore', 'Graph1.txt', 'Graph2.txt']

In [4]:
gps_x_raw_df = pd.read_csv(data_dir + '/Graph1.txt')

In [5]:
gps_x_raw_df

        time   Quad.GPS.X
0   0.105000    -0.372319
1   0.205000     0.639987
2   0.305000    -0.736634
3   0.404998     0.869336
4   0.504997     0.180194
..       ...          ...
93  9.405170    -0.265926
94  9.505211    -0.171602
95  9.605251     0.700781
96  9.705292     0.984418
97  9.805332     0.266933

[98 rows x 2 columns]

In [6]:
MeasuredStdDev_GPSPosXY = np.std(gps_x_raw_df[' Quad.GPS.X'])
print(MeasuredStdDev_GPSPosXY)

0.7112938710244466

In [7]:
np.mean(np.abs(gps_x_raw_df[' Quad.GPS.X']) < MeasuredStdDev_GPSPosXY)

0.7040816326530612

In [8]:
imu_x_raw_df = pd.read_csv(data_dir + '/Graph2.txt')

In [9]:
imu_x_raw_df

          time   Quad.IMU.AX
0     0.005000      0.552092
1     0.010000      0.073913
2     0.015000      0.523375
3     0.020000     -0.426419
4     0.025000      0.916424
...        ...           ...
1971  9.860354      0.329210
1972  9.865356     -0.014180
1973  9.870358      0.566759
1974  9.875360      0.035135
1975  9.880363     -0.122468

[1976 rows x 2 columns]

In [10]:
MeasuredStdDev_AccelXY = np.std(imu_x_raw_df[' Quad.IMU.AX'])
print(MeasuredStdDev_AccelXY)

0.4882556190747662

In [12]:
np.mean(abs(imu_x_raw_df[' Quad.IMU.AX']) < MeasuredStdDev_AccelXY)

0.673582995951417